.loginPage {
  position: relative;
}


.form {
  position: relative;
  margin-left: 250px;
  margin-top: 150px;
  width: 450px;
  height: 250px;
  color: white;
  background: pink;
  opacity: 30%;
  border-radius: 20px;
}

.form:hover {
  opacity: 70%;
}

.form:active {
  background-color: #aefaae;
}

.inputForm {
  margin: 5px;
  position: absolute;
  top: 10px;
  left: 20px;
}

label {
  display: block;
  height: 40px;
  width: 100px;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 30px;
}

input {
  display: block;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.fut{
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: absolute;
  top: 200px;
  left: 20px;
}

.register{
  position: static;
  margin: 15px;
  display: flex;
  cursor: pointer;
}

.btn {
  position: static;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.title {
  color: white;
  text-align: center;
  width: 1800px;
  margin-top: 20px;
  font-size: 50px;
  word-spacing: 100vw;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1140px) {
  .title {
  }
}


@media (max-width: 960px) {
  .title {
    left: 400px;
    font-size: 30px;
    word-spacing: 150vw;
  }
}

@media (max-width: 720px) {
  .title {
    left: 200px;
    font-weight: normal;
    word-spacing: normal;
  }
}

@media (max-width: 576px) {

  .loginPage {
    width: 550px;
    height: 800px;
  }

  .title {
    position: static;
    word-spacing: 200vw;
    height: 100px;
    width: 550px;
  }

  .form {
    display: block;
    width: 250px;
    margin-top: 150px;
    margin-left: 20px;
    padding: 10px;
    word-spacing: 200vw;
  }

  .fut {
    display: flex;
    justify-content: space-between;
  }


  .register {
    width: 140px;
    height: 20px;
    margin-top: 15px;
  }

  input {
    width: 230px;
  }

}
