<div class="container">
  <div class="loginPage">
    <div class="title">
      {{title}}
    </div>
    <div class="form">
      <div class="inputForm">
        <div>
          <label for="phoneNumber"> Логин </label>
          <input id="phoneNumber" type="text" >
        </div>

        <div>
          <label for="password">Пароль</label>
          <div class="password">
            <input id="password" type="password">
          </div>
        </div>
      </div>
      <div class="fut">
        <button class="btn" type="submit">войти</button>
        <span class="register"> Зарегистрироваться </span>
      </div>

    </div>
  </div>
</div>


