.form {
  position: relative;
  margin: 20px;
  width: 450px;
  height: 250px;
  background: #aefaae;
  border-radius: 20px;
}

.btnResend {
  cursor: pointer;
  position: absolute;
  top: 400px;
  border: none;
  border-radius: 5px;
  background: #93b9fd;
  color: white;
  z-index: 11;
  font-size: 35px;
  width: 500px;
}


.iconsClass {
  font-weight: bold;
}

.titleModal {
  color: blue;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 10px;
  width: 60px;
  border-radius: 10px;
  height: 25px;
  background: #518af3;
  color: white;
}

.btn:disabled {
  background: #f50622;
  opacity: 30%;
}


.inputForm {
  margin: 5px;
  position: absolute;
  top: 10px;
  left: 20px;
}

label {
  display: block;
  height: 40px;
  width: 100px;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 30px;
  color: blue;
}

input {
  display: block;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.fut {
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: absolute;
  top: 200px;
  left: 20px;
}

.registerBtn {
  position: static;
  margin: 15px;
  display: flex;
  cursor: pointer;
  color: blue;
  font-size: 15px;
}

.registerBtn:hover {
  font-weight: bold;
}


.password {
  position: relative;
}

.icon-pass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


@media (max-width: 1300px) {
  .titleModal {
    color: white;
  }
}

@media (max-width: 960px) {
  .title {
    left: 400px;
    font-size: 30px;
    word-spacing: 150vw;
  }


  .btnResend {
    top: 350px;
  }


}

@media (max-width: 720px) {
  .title {
    left: 200px;
    font-weight: normal;
    word-spacing: normal;
  }
}

@media (max-width: 600px) {

  .title {
    position: static;
    word-spacing: 200vw;
    height: 100px;
    width: 550px;
    margin-left: 1px;
  }

  .form {
    word-spacing: 200vw;
  }

  .fut {
    display: flex;
    justify-content: space-between;
  }


  .registerBtn {
    width: 140px;
    height: 20px;
    margin-top: 15px;
  }

  input {

  }

}
