.modalPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1200px;
  background: black;
  opacity: 50%;
}

.modalContent {
  position: sticky;
  left: 30%;
  padding: 6px;
  background: rgba(246, 243, 243, 0.5);
  border-radius: 10px;
}

