.modalPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1200px;
  background: black;
  opacity: 50%;
}

.modalContent {
  width: auto;
  height: auto;
  position: absolute;
  top: 300px;
  left: 55%;
  padding: 6px;
  background: white;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .modalContent {
    left: 42%;
    background: rgba(246, 243, 243, 0.5);
  }
}

@media (max-width: 960px) {
  .modalContent {
    left: 28%;
    top: 170px;
  }
}

@media (max-width: 600px) {
  .modalContent {
    left: 5%;
    top: 170px;
  }
}
