.settingsRecordsClass {
  display: block;
  border-radius: 10px;
  margin: 3px;
  color: #5238fd;
  background: #c6faeb;
}

.currentSittingsData {
  position: relative;
  display: block;
  border-radius: 10px;
  padding-bottom: 5px;
  color: black;
  background: #c6faeb;
  width: 460px;
}

.sittingCurrentValue {
  margin: 10px 0;
  text-align: center;
}

.sittingCurrentValueTitle {
  text-align: center;
  margin: 7px 0;
  color: black;
}

.sittingCurrentValueFooter {
  margin: 0 auto;
  color: #5238fd;
  width: 250px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.sittingCurrentValueFooter:hover {
  background: #03f303;
  border-radius: 10px;
}

.btnSittingClose {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  margin-left: 150px;
  cursor: pointer;
}

.oneSitting {
  display: flex;
  justify-content: space-between;
}

input {
  margin: 5px;
}

label {
  margin: 5px;
}

.sittingsInputClass {
  margin: 5px;
  display: inline;
  width: 45px;
}

.btnSetClass {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
