.infoBlockClass {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}


.currentTime {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background: #f6f34c;
  border-radius: 10px;
  margin: 5px;
  padding: 0 5px;
}

.todayClass {
  /*display: block;*/
}

.selectedTime {
  margin: 5px;
  text-align: center;
  font-weight: bold;
  background: #bfefe4;
  font-size: 14px;
  padding: 0 5px;
  border-radius: 10px;
}

.changeDayClass:hover {
  background: #a3f6a3;
  cursor: pointer;
}
