<div class="infoBlockClass">
  <div class="selectedTime">
    <span class="todayClass changeDayClass" (click)="go(-1)">
      <
    </span>
  </div>

  <div class="currentTime">
    <span class="todayClass">
      Сегодня : {{currentTime}}
    </span>
  </div>

  <div class="selectedTime">
    <span class="todayClass">
      Выбрано : {{dateService.date | async | momentTransformDate :  'DD.MM.YYYY'}}
    </span>
  </div>

  <div class="selectedTime changeDayClass" (click)="go(1)">
    <span class="todayClass">
     >
    </span>
  </div>
</div>
