.infoBlockClass {
  position: relative;
  display: flex;
  justify-content: space-between;
}


.currentTime {
  text-align: center;
  border-radius: 10px;
  margin: 5px auto;
  padding: 0 5px;
}

.todayClass {
  color: #5238fd;
}


