<div class="infoBlockClass">
  <button class="btnCloseInfoBlock"
          (click)="dateService.openCalendar()"
  >
    &times;
  </button>
  <div class="currentTime">
    <span class="todayClass">
      Сегодня :
    </span>
    <span class="todayClass">
      {{currentTime}}
    </span>
  </div>

  <div class="selectedTime">
    <span class="todayClass">
      Выбрано :
    </span>
    <span class="todayClass">
      {{dateService.date | async | momentTransformDate :  'DD.MM.YYYY'}}
    </span>
  </div>
</div>
