.recordsBlockClass {
  width: auto;
  max-width: 310px;
  margin: 5px auto;
  padding: 5px;
  background: #c6faeb;
  border-radius: 15px;
  white-space: nowrap;
}

.recordsBlockTitle {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.btnRecordsBlockClose {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.dataRecordsBlock {
  display: flex;
  justify-content: center;
}

.dataRecords {
  margin: 5px;
}

.titleRecBlockFilters {
  margin: 0 auto;
  color: #5238fd;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  max-width: 100px;
}

.titleRecBlockFilters:hover {
  background: #a3f6a3 ;
}


.btnRecSitings {
  position: relative;
  text-align: center;
}

.currentTimeInRec {
  margin: 0 auto;
  width: 135px;
  font-size: 15px;
}

.todayInRec {
  color: #5238fd;
}


.btnFilterRec {
  border-radius: 10px;
  border: 1px;
  cursor: pointer;
  background: none;
  margin: 10px 3px;
}

.currentDateTime {
  margin: 5px auto;
  width: 200px;
}

.btnFilterRec:hover {
  background: #a3f6a3;
}

.btnFilterRecSelect{
  background: #a3f6a3;
  color: #5238fd;
  border-radius: 10px;
}

.btnFilterRecNotSelected {
  background: none;
}

.btnCancelAllRec {
  margin-bottom: 5px;
  position: absolute;
  left: 1px;
  border-radius: 10px;
}

.notContentClass {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.strRecords {
  margin: 5px;
  cursor: pointer;
}

.ownRec {
  cursor: pointer;
  display: inline;
}
