 <ng-container *ngIf="dateService.currentUserSimpleUser.value">
   <div class="recordsBlockClass" *ngIf="personalBlockService.recordsBlock">
     <div class="recordsBlockTitle">

       <div class="currentTimeInRec">
         Сегодня:
         <span class="todayInRec">
           {{currentTime}}
        </span>
       </div>
       <button class="btnRecordsBlockClose" (click)="personalBlockService.closeRecordsBlock()">&times;</button>
     </div>
     <div class="btnRecSitings">
       <div class="btnSFilterClass">
         <button
           *ngIf="!showBtnFilter"
           class="btnFilterRec"

           (click)="openFilterBtn()"
         > Фильтр:
         </button>

         <button
           *ngIf="showBtnFilter"
           class="btnFilterRec"
           [class]="{
              btnFilterRecSelect: dataCalendarService.filterByOrg.value,
              btnFilterRecNotSelected: !dataCalendarService.filterByOrg.value}"
           (click)="dataCalendarService.filterRecCurrentUserByOrg()"
         >Орг
         </button>
         <button
           *ngIf="showBtnFilter"
           class="btnFilterRec"
           [class]="{
              btnFilterRecSelect: dataCalendarService.filterByDate.value,
              btnFilterRecNotSelected: !dataCalendarService.filterByDate.value}"
           (click)="dataCalendarService.filterRecCurrentUserByDate()"
         > Дата
         </button>
         <button
           *ngIf="showBtnFilter"
           class="btnFilterRec"
           [class]="{
              btnFilterRecSelect: dataCalendarService.showAll.value,
              btnFilterRecNotSelected: !dataCalendarService.showAll.value}"
           (click)="dataCalendarService.showAllRec()"
         > Все
         </button>
         <button
           *ngIf="showBtnFilter"
           class="btnFilterRec"
           (click)="openFilterBtn()"
         > &times;
         </button>
       </div>
     </div>
     <div class="currentDateTime" *ngIf="dataCalendarService.filterByDate.value">
       <app-info-block></app-info-block>
     </div>


     <div class="dataRecordsBlock" *ngIf="dataCalendarService.allEntryCurrentUserThisMonth.value.length;  else notContentBlock">
       <div class="dataRecords">
         <div class="strSRecords" *ngFor="let entry of dataCalendarService.allEntryCurrentUserThisMonth | async">
           <button class="strRecords"
                   (click)="deleteSelectedRec(entry)"
                   [disabled]="blockRepeat ||
                    entry.date.substring(3,5) < currentDate.substring(3,5) ||
                    entry.date.substring(0,2) < currentDate.substring(0,2)  &&
                    entry.date.substring(3,5) === currentDate.substring(3,5) ||
                    entry.time < currentHour && entry.date === currentDate"
           >
             &times;
           </button>
           <div class="ownRec" (click)="dataAboutRec(entry)">
             <span class="strRecords">
              {{ entry.date }}
             </span>
             <span class="strRecords">
              {{ entry.time }}:00
             </span>
             <span class="strRecords">
               {{ entry.sectionOrOrganization | reductionOrg }}
             </span>
             <!--<span class="strRecords">
               {{ entry.location | reductionAddress }}
             </span>-->
           </div>
         </div>
       </div>
     </div>

     <ng-template #notContentBlock>
       <span class="notContentClass" *ngIf="dataCalendarService.showAll.value">
         в {{dateService.date.value.format('M') | translateMonth}} записей нет!
       </span>
       <span class="notContentClass" *ngIf="dataCalendarService.filterByDate.value">
         {{dateService.date.value.format('DD.MM') }} записей нет!
       </span>
     </ng-template>


   </div>
 </ng-container>
