table {
  align-items: center;
  text-align: center;
  border-collapse: collapse;
}

td, th {
  width: 50px;
  height: 30px;
  /*border: 0px solid #518af3;*/
}

td {
  transition: all .2s;
}

.disabled {
  opacity: 20%;

}

td:hover:not(.disabled) {
  cursor: pointer;
  background: #eeee;
}

.active {
  background: yellow;
  border-radius: 10px;
  font-weight: bold;

}

.selected {
  border-radius: 10px;
  background: #bfefe4;
}

td:focus {
  border-radius: 3px;
  background: #518af3;
}
