
.formReg {
  position: relative;
  margin: 20px;
  width: 450px;
  height: 570px;
  background: #aefaae;
  border-radius: 20px;
  overflow: auto;
}


.errorInputMessage {
  color: red;
}

.iconsClass {
  font-weight: bold;
}

.titleModal {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.registrationBtn {
  width: 160px;
  border-radius: 10px;
  height: 25px;
  background: #518af3;
  color: white;
  margin-bottom: 20px;
}

.registrationBtn:disabled {
  background: #f50622;
  opacity: 30%;
}


.inputForm {
  margin: 5px;
  position: absolute;
  top: 10px;
  left: 20px;
}

label {
  display: block;
  height: 40px;
  color: blue;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 30px;
}

input {
  display: block;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  cursor: pointer;
}


.inputClass {
  font-size: 30px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 400px;
}

.futRegistration {
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: absolute;
  top: 570px;
  left: 20px;
}


.loginBtn {
  position: absolute;
  top: 5px;
  right: 20px;
  margin: 15px;
  display: flex;
  cursor: pointer;
  font-size: 15px;
}

.regFormBtn {
  position: absolute;
  top: 5px;
  left: 20px;
  margin: 15px;
  display: flex;
  cursor: pointer;
  font-size: 15px;
}

.loginBtn:hover {
  font-weight: bold;
}


.password {
  position: relative;
}

.icon-pass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.permission {
  font-size: 18px;
  margin-top: 10px;
  display: inline;
}

.permissionBlock {
  display: flex;
}


@media (max-width: 1300px) {
  .titleModal {
    color: white;
  }

  .regFormBtn {
    color: white;
  }

  .futRegistration {
    width: 350px;
  }

  .loginBtn {
   color: white;
  }
}

@media (max-width: 960px) {
  .title {
    left: 400px;
    font-size: 25px;
    word-spacing: 150vw;
  }

  .formReg {
    width: 400px;
    height: 530px;
  }

  input {
    max-width: 300px;
  }

  .permission {
    font-size: 15px;
  }

  label {
    padding-top: 10px;
    font-size: 20px;
    height: 30px;
  }

  .futRegistration {
    top: 440px;
    width: 350px;
  }

  .icon-pass {
    right: 10px;
  }

}

@media (max-width: 720px) {
  .title {
    left: 200px;
    font-weight: normal;
    word-spacing: normal;
  }
}

@media (max-width: 600px) {

  .title {
    position: static;
    word-spacing: 200vw;
    height: 100px;
    width: 550px;
    margin-left: 1px;
  }

  .formReg {
    word-spacing: 200vw;
  }

  .futRegistration {
    display: flex;
    justify-content: space-between;
  }


  .loginBtn {
    width: 50px;
    height: 20px;
    margin-top: 15px;
    left: 355px;
  }

  .errorInputMessage {
    word-spacing: normal;
  }

  label {
    font-size: 25px;
    width: 320px;
    word-spacing: normal;
  }

}
