.clientsListClass {
  background: #c6faeb;
  width: 280px;
  margin: 1px auto;
  border-radius: 10px;
  padding: 10px;
}

ol {
  padding: 0;
}

.clientsListBody {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.btnMyClientList {
  background: none;
  border-radius: 10px;
  border: solid 1px #f6dbff;
  display: block;
  cursor: pointer;
  color: #5238fd;
}

.btnMyClientList:hover {
  color: #0221c0;
  background: #03f303;
}


.btnCloseClientList {
  position: absolute;
  right: 1px;
  border: none 1px #f6dbff;
  cursor: pointer;
  background: none;
}

.inputSearchClass {
  display: flex;
  justify-content: center;
  margin: 10px;
}

li {
 margin: 5px 70px;
  cursor: pointer;
}
 li {
  position: relative;
}

.chooseClient:after {
  display: block;
  position: absolute;
  left: 0;    /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;   /*задаём длинну линии до наведения курсора*/
  height: 1px; /*задаём ширину линии*/
  background-color: #2630f1; /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.chooseClient:hover:after,
.chooseClient:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
