<label for="inputRegFormChoice" *ngIf="dateService.allOrgForReg.value.length !== 1">
  Выберите организацию
</label>
<label for="inputRegFormChoice" *ngIf="dateService.allOrgForReg.value.length === 1"> Выбрана: </label>

<div class="regFormClass">
  <strong class="arrowClass" (click)="openLoginPage()"> &larr;  </strong>
  <!--<strong class="closeChoiceOrgClass" *ngIf="!highlightBtn" (click)="modalService.close()"> &times;  </strong>-->
    <input id="inputRegFormChoice" type="text" placeholder="поиск..."
           *ngIf="dateService.allOrgForReg.value.length !== 1"
           [disabled]="dateService.allOrgForReg.value.length === 1" [(ngModel)]="searchOrg">

    <div class="orgClass"
        *ngIf="dateService.allOrgForReg | async as allOrg">
      <div
         *ngFor="let org of allOrg | filterOrg: searchOrg; index as i">
         <span class="ownOrg"  (click)="choiceOrg(org)">
          {{org.name}}
         </span>
      </div>
    </div>

  <div class="futReg">
    <hr>
    <span class="textNoOrg"> Если организации нет, вы можете </span>
    <button class="btnNewOrg"
            (click)="addNewOrg()"
            [disabled]="dateService.allOrgForReg.value.length === 1"> добавить новую</button>
  </div>
</div>


