.regFormClass {
  position: relative;
  margin: 0 auto;
  padding-bottom: 15px;
  background: #aefaae;
  color: #5238fd;
  width: 500px;
  max-height: 350px;
  border-radius: 10px;
  text-align: center;
}

label {
  display: block;
  margin: 10px;
  padding-top: 15px;
  font-size: 28px;
}


input {
  margin: 0 15px 5px 15px;
  border: solid 1px #518af3;
  border-radius: 10px;
  padding: 7px;
}


.futRegForm {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
}

.futRegF {
  display: flex;
  justify-content: end;
  margin: 10px 50px;
}

.titleRegForm {
  color: #2630f1;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.orgClass {
  margin-left: 20%;
  height: 140px;
  overflow: auto;
}

.orgClass::-webkit-scrollbar {
  display: none;
}


.ownOrg {
  margin: 10px;
  width: 300px;
  display: block;
  text-align: start;
  cursor: pointer;
}

hr {
  margin: 20px;
}

.btnReset {
  position: absolute;
  top: 100px;
  left: 80px;
  background: white;
  border: none;
  color: #5238fd;
  font-size: 15px;
  border-radius: 20px;
}

.btnReset:hover {
  font-weight: bold;
  color: #0221c0;

}

.btnFutRegForm {
  border: none;
  background: none;
  border-radius: 10px;
  color: #5238fd;
  cursor: pointer;
}

.btnFutRegFormNext {
  background: white;
  border-radius: 10px;
}


.btnFutRegForm:hover {
  background: white;
  color: #0221c0;
}

.btnFutRegForm:disabled {
  background: none;
  color: red;
}

.btnNewOrg {
  margin-left: 5px;
  border: none;
  border-radius: 10px;
}

.btnNewOrg:hover {
  background: white;
  cursor: pointer;
}



@media (max-width: 600px) {
  .regFormClass {
    width: 400px;
  }

  .btnReset {
    left: 80px;
  }


  .orgClass {
    margin-left: 25%;
  }
}
