.regFormClass {
  position: relative;
  margin: 0 auto;
  padding-bottom: 15px;
  background: #aefaae;
  color: #5238fd;
  width: 400px;
  max-height: 350px;
  border-radius: 10px;
  text-align: center;
}

label {
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.arrowClass {
  position: absolute;
  top: 1px;
  left: 15px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.arrowClass:hover {
  color: red;
}

.closeChoiceOrgClass {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.closeChoiceOrgClass:hover {
  color: red;
}

input {
  margin: 10px 15px 5px 15px;
  border: solid 1px #518af3;
  border-radius: 10px;
  padding: 7px;
}


.futRegForm {
  display: flex;
  justify-content: end;
  margin: 10px 50px;
}

.futRegF {
  display: flex;
  justify-content: end;
  margin: 10px 50px;
}

.titleRegForm {
  color: #2630f1;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.orgClass {
  margin: 10px 10px 20px 45px;
  max-height: 100px;
  overflow: auto;
}

.orgClass::-webkit-scrollbar {
  display: none;
}


.ownOrg {
  margin: 10px;
  display: block;
  text-align: start;
  cursor: pointer;
}

hr {
  margin: 10px;
}

.btnReset {
  position: absolute;
  top: 10px;
  left: 20px;
  background: white;
  border: none;
  color: #5238fd;
  font-size: 15px;
  border-radius: 20px;
}

.btnReset:hover {
  font-weight: bold;
  color: #0221c0;

}

.btnFutRegForm {
  border: none;
  background: none;
  border-radius: 10px;
  color: #5238fd;
  cursor: pointer;
}

.btnFutRegFormNext {
  background: white;
  border-radius: 10px;
}


.btnFutRegForm:hover {
  background: white;
  color: #0221c0;
}

.btnFutRegForm:disabled {
  background: none;
  color: red;
}

.btnNewOrg {
  margin-left: 5px;
  border: none;
  background: none;
  border-radius: 10px;
  color: #5238fd;
}

.textNoOrg {
  color: #f50622;
  font-size: 14px;
}

.btnNewOrg:hover {
  background: white;
  cursor: pointer;
}



@media (max-width: 600px) {
  .regFormClass {
    width: 400px;
  }
}
