<div class="personalDataClass">
  <button class="btnSettingsRecords" (click)="switchData()" *ngIf="!personalData"> Мои данные</button>
  <div *ngIf="personalData">
    <div class="now">
      <div class="title">
        <strong> Мои данные </strong>
        <button class="btnClosePersonalData" (click)="switchData()">&times;</button>
      </div>
      <div class="currentUser">
        <div>
          <strong> Имя: </strong>
        </div>
        <span> {{dateService.currentUser | async}} </span>
      </div>
      <div class="currentUser">
        <div>
          <strong> Роль: </strong>
        </div>
        <span> {{dateService.currentUserRole | async}} {{dateService.sectionOrOrganization | async}} </span>
      </div>
      <div class="currentUser">
        <div>
          <strong> Остаток: </strong>
        </div>
        <span> {{dateService.remainingFunds | async}} </span>
      </div>
      <div class="futSettingClass" *ngIf="showSettings">
        <button class="btnSettingsRecords" (click)="switchSittingsData()">
          <strong> Настройки </strong>
        </button>
        <button class="btnSettingsRecords"  (click)="addNewOrgSettings()"
                *ngIf="dateService.currentUserIsTheMainAdmin | async">
          <strong> Добавить ORG </strong>
        </button>
      </div>
    </div>

    <div class="settingsRecordsClass" *ngIf="windowAddingNewOrgIsOpen">
      <form [formGroup]="formAddOrg" (submit)="addNewOrg()">
        <div class="oneSitting">
          <label>
            название организации
          </label>
          <input class="sittingsInputClass" formControlName="nameOrg">
        </div>

        <div class="oneSitting">
          <label>
            имя руководителя
          </label>
          <input class="sittingsInputClass" formControlName="supervisorName">
        </div>

        <div class="oneSitting">
          <label>
            телефон руководителя
          </label>
          <input class="sittingsInputClass" formControlName="poneSupervisor">
        </div>
        <div class="btnSetClass">
          <button class="btnSettingsRecords" (click)="closeWindowAddedNewOrg()">
            Отменить
          </button>
          <button class="btnSettingsRecords" type="submit">
            Добавить
          </button>
        </div>
      </form>
    </div>

    <div class="settingsRecordsClass" *ngIf="settingsRecords">
      <form [formGroup]="form" (submit)="submit()">
        <div class="oneSitting">
          <label>
            max человек в записи
          </label>
          <input type="number" maxlength="2" max="20" class="sittingsInputClass" formControlName="maxiPeople">
        </div>

        <div class="oneSitting">
          <label>
            время начала записи
          </label>
          <select class="sittingsInputClass" formControlName="timeStartRec">
            <option *ngFor="let chSt of timesForRec"> {{chSt}}</option>
          </select>
        </div>

        <div class="oneSitting">
          <label>
            время окончания записи
          </label>
          <select class="sittingsInputClass" formControlName="timeFinishRec">
            <option *ngFor="let chEnd of timesForRec"> {{chEnd}}</option>
          </select>
        </div>
        <div class="btnSetClass">
          <button class="btnSettingsRecords" (click)="closeSettings()">
            Отменить
          </button>
          <button class="btnSettingsRecords" type="submit">
            Применить
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="currentTime">
  <span class="todayClass">
    Сегодня :
  </span>
  <span class="todayClass">
    {{currentTime}}
  </span>
</div>

<div class="watchClass">
  <strong class="todayClass">
    {{hours}} : {{min}} : {{sec}}
  </strong>
</div>

<div class="selectedTime">
  <span class="todayClass">
    Выбрано :
  </span>
  <span class="todayClass">
    {{dateService.date | async | momentTransformDate :  'DD.MM.YYYY'}}
  </span>
</div>


<p>
  <i (click)="go(-1)"> < </i>

  <span>  {{dateService.date | async | momentTransformDate}} </span>

  <i (click)="go(1)"> > </i>

</p>
