p {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  margin: 0 20px;
}

i {
  cursor: pointer;
  border: solid 1px #f15cc7;
  border-radius: 10px;
  width: 30px;
  text-align: center;
  padding: 3px;
}

.currentTime {
  position: absolute;
  right: 30px;
  top: 50px;
  text-align: center;
  font-weight: bold;
  background: #f6f34c;
  border-radius: 10px;
  width: 120px;
}


.selectedTime {
  position: absolute;
  right: 30px;
  top: 150px;
  text-align: center;
  font-weight: bold;
  background: #bfefe4;
  border-radius: 10px;
  max-width: 120px;
}

.watchClass {
  position: absolute;
  padding: 5px;
  right: 50px;
  top: 100px;
  text-align: center;
  font-weight: bold;
  border: solid 1px yellow;
  border-radius: 10px;
  max-width: 120px;
}

.todayClass {
  display: block;
}


.personalDataClass {
  position: absolute;
  top: 50px;
  left: 20px;
}

.settingsRecordsClass {
  display: block;
  border-radius: 10px;
  margin: 3px;
  border: solid 1px red;
}

input {
  margin: 5px;
}

label {
  margin: 5px;
}

.oneSitting {
  display: flex;
  justify-content: space-between;
}

.sittingsInputClass {
  margin: 5px;
  display: inline;
  width: 45px;
}

.btnSetClass {
  display: flex;
  justify-content: space-between;
}

.btnSettingsRecords {
  margin: 5px;
  background: none;
  border-radius: 10px;
  border: solid 1px #f6dbff;
  display: block;
  cursor: pointer;
}

.btnClosePersonalData {
  position: absolute;
  right: 1px;
  border: none 1px #f6dbff;
  cursor: pointer;
  background: none;
}

.now {
  max-width: 300px;
  padding: 5px;
  border-radius: 10px;
  background: #c6faeb;
}

.title {
  position: relative;
  text-align: center;
  margin: 5px;
}

.currentUser {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
