<div class="settingsRecordsClass">
  <form [formGroup]="formAddOrg" (submit)="addNewOrg()">
    <div class="oneSetting">
      <label>
        Название организации:
      </label>
      <input class="settingsInputClass" formControlName="nameOrg">
    </div>

    <div class="oneSetting">
      <label>
        Имя руководителя:
      </label>
      <input class="settingsInputClass" formControlName="supervisorName">
    </div>

    <div class="oneSetting">
      <label>
        Телефон:
      </label>
      <input class="settingsInputClass" formControlName="managerPhone">
    </div>
    <div class="btnSetClass">
      <button class="btnSettingsRecords" (click)="personalBlockService.closeWindowAddedNewOrg()">
        Отменить
      </button>
      <button class="btnSettingsRecords" type="submit">
        Добавить
      </button>
    </div>
  </form>
</div>
