.settingsRecordsClass {
  display: block;
  border-radius: 10px;
  margin: 3px;
  border: solid 1px red;
}


.oneSitting {
  display: flex;
  justify-content: space-between;
}


input {
  margin: 5px;
}

label {
  margin: 5px;
}

.settingsInputClass {
  margin: 5px;
  display: inline;
  width: 45px;
}

.btnSetClass {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
