.modalWindowForPerson {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1200px;
  background: black;
  opacity: 50%;
}

.modalContentForPerson {
  width: auto;
  height: auto;
  position: absolute;
  top: 220px;
  left: 45%;
  padding: 6px;
  background: white;
  border-radius: 10px;
}
