.modalWindowForPerson {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1200px;
  background: black;
  opacity: 50%;
}

.modalContentForPerson {
  width: 500px;
  position: absolute;
  top: 550px;
  left: 33%;
  padding: 6px;
  background: white;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .modalContentForPerson{
    left: 28%;
  }
}

@media (max-width: 960px) {
  .modalContentForPerson{
    left: 25%;
  }
}

@media (max-width: 720px){
  .modalContentForPerson{
    left: 15%;
  }
}

@media (max-width: 600px) {
  .modalContentForPerson{
    left: 7%;
  }
}
