<div class="personalPageStyle">

  <div class="logoutSystems">
    <button (click)="logout()"> Страница входа</button>
    <button (click)="logoutSystems()"> Выйти из системы</button>
  </div>

  <div class="errorModal insideClass">
    <app-error-modal></app-error-modal>
  </div>

  <div class="calendar">
    <div class="headerCalendar">
      <app-header-calendar></app-header-calendar>
    </div>

    <div class="bodyCalendar">
      <app-body-calendar></app-body-calendar>
    </div>

    <hr>

    <div class="dataCalendar">
      <app-data-calendar></app-data-calendar>
    </div>
  </div>


</div>




