<div class="personalPageStyle">

  <div class="currentSelectedOrg">
    <app-select-org-to-display></app-select-org-to-display>
    <div class="cowerTitlePersonal">
      <div class="btnOutAndText">
        <strong class="btnLogoutSystemsClass" (click)="logoutSystems()"> &times; </strong>
        <span class="btnOut" (click)="logoutSystems()"> выйти </span>
      </div>
    </div>
  </div>


  <div class="errorModal insideClass">
    <app-error-modal></app-error-modal>
  </div>

  <div class="successModalPersonalPage">
    <app-success-modal></app-success-modal>
  </div>

  <div class="btnMainMenu" *ngIf="!personalBlockService.personalData">
    <button class="btnSettingsRecords" (click)="personalBlockService.switchData()">
      Мои данные
    </button>
  </div>
  <div class="bodyCalendarElementClass" >
    <app-personal-data-block *ngIf="personalBlockService.personalData"></app-personal-data-block>
  </div>


  <div *ngIf="dateService.currentUserIsTheMainAdmin | async">
    <div class="btnMainMenu" *ngIf="!personalBlockService.windowAddingNewOrgIsOpen">
      <button class="btnSettingsRecords" (click)="personalBlockService.addNewOrgSettings()">
        Добавить ORG
      </button>
    </div>
    <div class="bodyCalendarElementClass" *ngIf="personalBlockService.windowAddingNewOrgIsOpen">
      <app-add-new-org></app-add-new-org>
    </div>
  </div>

  <div class="btnMainMenu" *ngIf="dateService.currentUserIsTheAdminOrg.value">
    <button class="btnSettingsRecords"
            *ngIf="!personalBlockService.clientListBlock"
            (click)="personalBlockService.openClientList()"
    > Список клиентов
    </button>
  </div>
  <div *ngIf="personalBlockService.clientListBlock && dateService.currentUserIsTheAdminOrg.value ">
    <app-clients-list></app-clients-list>
  </div>


  <div class="btnMainMenu" *ngIf="dateService.currentUserIsTheAdminOrg.value">
    <button class="btnSettingsRecords"
            *ngIf="personalBlockService.settingsBtn"
            (click)="personalBlockService.switchSettingsData()">
      Настройки записи
    </button>
  </div>
  <div class="bodyCalendarElementClass" >
    <app-settings-block *ngIf="dateService.currentUserIsTheAdminOrg.value"></app-settings-block>
  </div>


  <div class="btnMainMenu" *ngIf="dateService.currentUserSimpleUser.value">
    <button class="btnSettingsRecords"
            *ngIf="!personalBlockService.recordsBlock"
            (click)="personalBlockService.openRecordsBlock()"
    >
      Мои записи
      в {{dateService.date.value.format('M') | translateMonth}}
    </button>
  </div>
  <div *ngIf="dateService.currentUserSimpleUser.value">
    <app-records-block></app-records-block>
  </div>


  <div class="btnMainMenu">
    <button
      class="btnSettingsRecords" *ngIf="!dateService.calendarBodyOpen.value" (click)="dateService.openCalendar()">
      Открыть календарь
    </button>
  </div>
  <div class="bodyCalendarElementClass calendarNum" *ngIf="dateService.calendarBodyOpen | async">
    <div class="cowerBodyCalendar">
      <button class="btnCloseInfoBlock" (click)="dateService.openCalendar()">
        &times;
      </button>
      <app-header-calendar></app-header-calendar>
      <app-body-calendar></app-body-calendar>
    </div>
  </div>


  <div class="btnMainMenu" *ngIf="!recordingService.recordsBlock.value">
    <button class="btnSettingsRecords" (click)="recordingService.openRecordsBlock()">
      Открыть записи {{dateService.currentOrg.value}}
    </button>
  </div>

  <div class="showRecCurrentOrg" *ngIf="recordingService.recordsBlock.value">
    <div class="dateNowAndSelected">
      <app-day-week-month></app-day-week-month>
    </div>

    <div class="dateNowAndSelected" *ngIf="recordingService.showCurrentDay.value">
      <app-info-block></app-info-block>
    </div>

    <div class="dateNowAndSelected" *ngIf="recordingService.showCurrentWeek.value">
      <app-switch-of-the-week></app-switch-of-the-week>
    </div>

    <div class="dateNowAndSelected">
      <div class="dataCalendar">
        <app-data-calendar-new></app-data-calendar-new>
      </div>
    </div>
  </div>

</div>


<div class="modalDataSelectUser" *ngIf="modalService.isVisible$ | async">
  <app-modal-window-for-person-page>
    <app-data-person-modal *ngIf="modalService.clientListBlock | async"></app-data-person-modal>
    <app-data-about-rec *ngIf="modalService.recordsBlock | async"></app-data-about-rec>
  </app-modal-window-for-person-page>
</div>


