.personalPageStyle {

  height: 990px;
  background: white;
  opacity: 95%;
  overflow: auto;
}

.personalPageStyle::-webkit-scrollbar {
  display: none;
}

.currentSelectedOrg {
  display: flex;
  justify-content: center;
}


.logOutClass {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.titleMainePage {
  margin: 5px;
}

.titleMainePage:hover {
  color: #0221c0;
}

.mainePageClass {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: #5238fd;
  cursor: pointer;
}

.bodyCalendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.insideClass {
  position: absolute;
  top: 700px;
  left: 500px;
}

.dCalendar {
  display: flex;
  justify-content: center;
}

.dataCalendar {
  margin: 10px;
}


.calendarDisplayMode {
  display: flex;
  justify-content: center;
  margin: 10px;
}





.btnBodyCalendarElement {
  background: yellow;
  border-radius: 10px;
  border: solid 1px #f6dbff;
  display: block;
  cursor: pointer;
  height: 20px;
  width: 140px;
  margin: 10px 10px;
  color: #5238fd;
}
.btnBodyCalendarElement:hover {
  color: #0221c0;
  background: #03f303;
}


.bodyCalendarElementClass {
  margin: 0 10px;
  padding: 10px;
}

.calendarNum {
  border: solid 1px #f50622;
  border-radius: 10px;
  width: 360px;
}

.btnLogoutSystemsClass {
  margin: 3px;
  background: none;
  border: solid 0.1rem #c8caf8;
  border-radius: 10px;
  color: #5238fd;
  cursor: pointer;
}

.btnLogoutSystemsClass:hover {
  color: #f50622;
}


@media (max-width: 1243px) {
  .btnBodyCalendarElement {
    margin: 10px auto;
  }

  .btnLogoutSystemsClass {
    margin: 0 auto;
    /*right: inherit;*/
  }

  .insideClass {
    left: 400px;
  }

  .bodyCalendar {
    display: block;
  }

  .bodyCalendarElementClass {
    margin: 0 auto;
  }

}

@media (max-width: 1140px) {
  .insideClass {
    left: 300px;
  }
}

@media (max-width: 960px) {

  .bodyCalendar {
    flex-direction: column;
    margin: auto 10px;
  }

    .insideClass {
      left: 200px;
    }
}

@media (max-width: 720px) {
    .insideClass {
      left: 100px;
    }
}

@media (max-width: 600px) {
    .insideClass {
      left: 50px;
    }
}
