.personalPageStyle {
  height: 990px;
  background: white;
  opacity: 95%;
  overflow: auto;
}

.cowerTitlePersonal {
  position: relative;
}

.personalPageStyle::-webkit-scrollbar {
  display: none;
}

.currentSelectedOrg {
  padding-left: 50px;
  display: flex;
  justify-content: center;
}


.logOutClass {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.titleMainePage {
  margin: 5px;
}

.titleMainePage:hover {
  color: #0221c0;
}

.cowerMainePageClass {
  display: flex;
  justify-content: center;
}

.mainePageClass {
  width: 300px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: #5238fd;
  cursor: pointer;
}


.insideClass {
  position: absolute;
  top: 700px;
  left: 500px;
}


.dataCalendar {
  margin: 10px;
}




.dateNowAndSelected {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.successModalPersonalPage{
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 50px;
  left: 65%;
  z-index: 111;
}


.btnBodyCalendarElement {
  background: yellow;
  border-radius: 10px;
  border: solid 1px #f6dbff;
  display: block;
  cursor: pointer;
  height: 20px;
  /*width: 140px;*/
  /*margin: 10px 10px;*/
  color: #5238fd;
}
.btnBodyCalendarElement:hover {
  color: #0221c0;
  background: #03f303;
}


.bodyCalendarElementClass {
  margin: 1px auto;
  width: 300px;
  /*border-radius: 10px;*/
  /*padding: 10px;*/
}

.cowerBodyCalendar {
  position: relative;
  padding: 7px;
}

.btnCloseInfoBlock {
  position: absolute;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
}


.calendarNum {
  border: solid 1px #f50622;
  border-radius: 10px;
  width: 360px;
}

.btnOutAndText {
  display: flex;
  align-items: center;
}

.btnLogoutSystemsClass {
  margin: 5px;
  height: 15px;
  width: 15px;
  text-align: center;
  border: none;
  border-radius: 10px;
  color: #5238fd;
  cursor: pointer;
}

.btnLogoutSystemsClass:hover{
  color: white;
  cursor: pointer;
  background: #f50622;
  transition: 1s;
}

.btnOut {
  color: white;
  cursor: pointer;
}

/*при наведении на одим менять стиль другого соседнего*/
/*Для любых элементов(оба блока должны быть внутри одного элемента)*/
/*тот что меняет стиль должен быть вторым идти после того на котор наводим в html*/
.btnLogoutSystemsClass:hover~.btnOut {
  color: red;
}

.btnOut:hover {
  color: red;
  transition: 0.3s;
}

.btnOut:after {
  display: block;
  position: absolute;
  left: 0;    /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0;   /*задаём длинну линии до наведения курсора*/
  height: 1px; /*задаём ширину линии*/
  background-color: #2630f1; /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.btnOut:hover:after,
.btnOut:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


@media (max-width: 1243px) {
  .btnBodyCalendarElement {
    margin: 10px auto;
  }

  .insideClass {
    left: 400px;
  }


}

@media (max-width: 1140px) {
  .insideClass {
    left: 300px;
  }
}

@media (max-width: 960px) {


    .insideClass {
      left: 200px;
    }
}

@media (max-width: 720px) {
    .insideClass {
      left: 100px;
    }
}

@media (max-width: 600px) {
    .insideClass {
      left: 50px;
    }
  .successModalPersonalPage{
    left: 30%;
  }
}
