<div class="personalPageStyle">
  <div class="mainePageClass">
    <h2 (click)="mainePage()">ADMIN4you</h2>
    <button class="btnLogoutSystemsClass" (click)="logoutSystems()"> Выйти из системы</button>
  </div>

  <div class="errorModal insideClass">
    <app-error-modal></app-error-modal>
  </div>

  <div class="calendar">
    <div class="headerCalendar">
      <app-header-calendar></app-header-calendar>
    </div>

    <div class="bodyCalendar">
      <div class="bodyCalendarElementClass">
        <app-current-user-data></app-current-user-data>
      </div>
      <div class="bodyCalendarElementClass calendarNum">
        <app-info-block></app-info-block>
        <hr>
        <app-body-calendar></app-body-calendar>
      </div>
      <div class="bodyCalendarElementClass">
        <app-clients-list></app-clients-list>
      </div>
    </div>

    <hr>
    <div class="calendarDisplayMode">
      <span class="btnCalendarDisplayMode">показывать: </span>
      <button
        [class]="{
        btnCalendarDisplayModeSelected : showCurrentDay,
        btnCalendarDisplayMode: !showCurrentDay}"
        (click)="showDay()"
      > день
      </button>
      <button
        [class]="{
        btnCalendarDisplayModeSelected : showCurrentWeek,
        btnCalendarDisplayMode: !showCurrentWeek}"
        (click)="showWeek()"
      > неделя
      </button>
      <button class="btnCalendarDisplayMode" disabled="true"
      > месяц
      </button>
      <button class="btnCalendarDisplayMode" disabled="true"
      > дни когда я записан
      </button>
      <input class="btnCalendarDisplayMode" type="text" placeholder="записи конкретной организации"
             *ngIf="dateService.currentUserIsTheMainAdmin | async"
             (input)="choosingOrganization($event)"
             [value]="[inputValue]"
      >
    </div>
    <div class="dCalendar">
      <div class="dataCalendar" *ngFor=" let day of weekSelectedDate">
        <app-data-calendar [dayOfWeek]="day"></app-data-calendar>
      </div>
    </div>
  </div>
</div>


<div class="modalDataSelectUser" *ngIf="modalService.isVisible$ | async">
  <app-modal-window-for-person-page>
    <app-data-person-modal></app-data-person-modal>
  </app-modal-window-for-person-page>
</div>


