.personalPageStyle {
  height: 990px;
  background: white;
  opacity: 95%;
}

.titleMainePage {
  margin: 15px;
}

.titleMainePage:hover {
  color: #0221c0;
}

.mainePageClass {
  margin: 10px 10px 30px 10px;
  display: flex;
  justify-content: center;
  color: #5238fd;
  cursor: pointer;
}

.bodyCalendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.insideClass {
  position: absolute;
  top: 350px;
  left: 550px;
}

.dCalendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dataCalendar {
  margin: 10px;
}


.calendarDisplayMode {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btnCalendarDisplayMode {
  margin: 5px;
  background: none;
}

.btnCalendarDisplayModeSelected {
  margin: 5px;
  background: #a3f6a3;
}

.btnBodyCalendarElement {
  background: none;
  border-radius: 10px;
  border: solid 1px #f6dbff;
  display: block;
  cursor: pointer;
  height: 20px;
  width: 120px;
  margin: 10px auto;
  color: #7eec7e;
}
.btnBodyCalendarElement:hover {
  color: #0221c0;
  background: #03f303;
}


.bodyCalendarElementClass {
  /*width: 360px;*/
  /*height: 280px;*/
  margin: 0 auto;
  padding: 5px 15px 5px 5px;
  /*background: #c6faeb;*/
}

.calendarNum {
  border: solid 1px #f50622;
  border-radius: 10px;
  width: 360px;
}

.btnLogoutSystemsClass {
  position: absolute;
  top: 60px;
  right: 200px;
  background: none;
  border: solid 0.1rem #c8caf8;
  border-radius: 10px;
  color: #5238fd;
  cursor: pointer;
}

.btnLogoutSystemsClass:hover {
  color: #f50622;
}


@media (max-width: 1243px) {
  .bodyCalendar {
    flex-direction: column;
  }

  .btnLogoutSystemsClass {
    margin: 0 auto;
    right: inherit;
  }
}

