<div class="cowerBlockDataAboutRec">
  <div class="strRecTitle">
    <span>{{dateService.dataAboutSelectedRec.value.sectionOrOrganization}}</span>
  </div>

  <div class="strRec">
    <strong> Адрес:  </strong>
    <span>{{dateService.dataAboutSelectedRec.value.location}}</span>
  </div>

  <div class="strRec">
    <strong> Телефон:  </strong>
    <span>{{dateService.dataAboutSelectedRec.value.phoneOrg}} </span>
  </div>

  <div class="strRec">
    <strong> Дата записи:  </strong>
    <span>{{dateService.dataAboutSelectedRec.value.date}}</span>
  </div>

  <div class="strRec">
    <strong> Время записи: </strong>
    <span>{{dateService.dataAboutSelectedRec.value.time}} : 00 </span>
  </div>



</div>
