<div class="container">
  <div class="mainPage">

    <div class="title" routerLink="/personal-page">
      {{mainTitle}}
    </div>

    <div class="errorModal">
      <app-error-modal></app-error-modal>
    </div>

    <!--<button (click)="openModal()">войти заново</button>-->

    <div class="appDescription" (click)="modalService.openAppDescription$()">
      <span> Заменит работу администратора! </span>
      <button class="btnDetailsClass"> подробнее... </button>
    </div>

    <span *ngIf="modalService.hideTitle$ | async" class="enter" routerLink="/personal-page">{{modalTitle}}</span>

    <div class="modal" *ngIf="modalService.isVisible$ | async">
      <app-modal-page>
        <app-login-page *ngIf="modalService.loginForm$ | async"></app-login-page>
        <app-registrationForm-page *ngIf="modalService.registrationForm$ | async"></app-registrationForm-page>
        <app-description-application *ngIf="modalService.appDescription$ | async"></app-description-application>
      </app-modal-page>
    </div>
  </div>
</div>


