.mainPage {
  color: white;
}

.successModal {
  background: rgba(246, 243, 243, 0.5);
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 200px;
  z-index: 111;
}

.appDescription {
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}


.contactsBlock {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 700px;
  width: 450px;
  top: 450px;
  }


.btnContactClass {
  background: none;
  display: block;
  margin: 5px 40px;
  cursor: pointer;
  color: white;
}

.btnDetailsClass {
  background: none;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  color: white;
}

.title {
  text-align: center;
  width: 355px;
  margin: 20px auto;
  font-size: 50px;
  word-spacing: 100vw;
  font-weight: bold;
  cursor: pointer;
}

.enter {
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  top: 400px;
  left: 700px;
}

.enter:hover {
  color: #aefaae;
}


@media (max-width: 1700px) {
  .enter {
    left: auto;
  }

  .contactsBlock {
    left: auto;
  }
}

@media (max-width: 1440px) {
  .appDescription {
    left: 520px;
  }
}

@media (max-width: 1300px) {
  .appDescription {
    left: 400px;
  }

}

@media (max-width: 960px) {
  .title {
    font-size: 30px;
  }
  .enter {
    font-size: 25px;
  }
  .appDescription {
    font-size: 25px;
    top: 70px;
    left: 200px;
  }

  .contactsBlock {
    width: 370px;
  }

  .btnContactClass {
    margin: 5px 20px;
  }
}



@media (max-width: 660px) {
  .enter {
    top: 300px;
    white-space: nowrap;
  }

  .appDescription {
    font-size: 25px;
    top: 70px;
    left: 100px;
  }

  .successModal {
    top: 150px;
  }

  .contactsBlock {
    top: 350px;
  }
}
