<div class="container">
  <div class="mainPage">

    <div class="title" (click)="openModal()">
      {{mainTitle}}
    </div>

    <div class="errorModal">
      <app-error-modal></app-error-modal>
    </div>

    <span *ngIf="modalService.hideTitle$ | async" class="enter" (click)="openModal()">{{modalTitle}}</span>

    <div class="modal" *ngIf="modalService.isVisible$ | async">
      <app-modal-page>
        <app-login-page *ngIf="modalService.loginForm$ | async"></app-login-page>
        <app-registrationForm-page *ngIf="modalService.registrationForm$ |async"></app-registrationForm-page>
<!--        <app-registrationForm-page ></app-registrationForm-page>-->
      </app-modal-page>
    </div>

  </div>
</div>


