.now {
  width: 280px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
  background: #c6faeb;
}

.titleNow {
  position: relative;
  text-align: center;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.clickBtn {
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.cowerDataBlock {
  position: relative;
  width: 320px;
}

.btnClosePersonalDataComponent {
  position: absolute;
  right: 1px;
  border: none 1px #f6dbff;
  cursor: pointer;
  background: none;
}

.currentUser {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

