<div class="now">
  <div class="titleNow" (click)="personalBlockService.switchData()">
    <strong class="clickBtn"> Мои данные </strong>
    <button class="btnClosePersonalDataComponent" (click)="personalBlockService.switchData()">&times;</button>
  </div>
  <div class="currentUser">
    <div>
      <!--<strong *ngIf="dateService.currentUserIsTheMainAdmin | async"> {{dateService.currentUserRole | async}}: </strong>-->
      <strong *ngIf="dateService.currentUserSimpleUser | async"> {{dateService.currentUserRole | async }}: </strong>
      <strong *ngIf="dateService.currentUserIsTheAdminOrg | async"> {{dateService.currentUserRole | async}}: </strong>
    </div>
    <span> {{dateService.currentUserNameAndSurname | async}} </span>
  </div>

  <div class="currentUser" *ngIf="dateService.currentUserSimpleUser.value">
    <div>
      <strong> Баланс: </strong>
    </div>
    <span> 3700 руб </span>
  </div>
  <div class="currentUser" *ngIf="dateService.currentUserSimpleUser.value">
    <div>
      <strong> Кол-ва записей в месяце: </strong>
    </div>
    <span> {{dateService.remainingFunds | async}} </span>
  </div>
</div>
