<div class="selectedUserClass">
  <div class="coverPersonalData">
    <div class="personalDataTitle">
      <strong> Данные о пользователе </strong>
      <button class="btnClosePersonalData" (click)="modalService.close()">&times;</button>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Имя: </strong>
      </div>
      <span> {{nameUser}}</span>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> {{roleUser}}:  </strong>
      </div>
      <span>  {{sectionOrOrganization}} </span>
    </div>
    <div class="selectedUserClass" *ngIf="!hideBtnForCurrentAdmin">
      <div>
        <strong> Остаток: </strong>
      </div>
      <span> {{remainingFunds}} </span>
    </div>
    <div class="selectedUserClass" *ngIf="!hideBtnForCurrentAdmin">
      <div>
        <strong> Добавить: </strong>
      </div>
      <button>Абонемент</button>
    </div>
    <div *ngIf="!hideBtnForCurrentAdmin">
      <div class="selectedUserClass" *ngIf="!showBtnAdminAndUser">
        <div>
          <strong> Назначить: </strong>
        </div>
        <button class="btnChangeRoleClass" (click)="changeRole()"
        >
          <span *ngIf="showBtnUser" >Пользователем</span>
          <span *ngIf="showBtnAdmin">Администратором</span>
        </button>
      </div>
    </div>
    <div class="selectedUserClass" *ngIf="!hideBtnForCurrentAdmin">
      <div (click)="showOrHideDaysRec()">
        <strong class="btnShowDayRec" *ngIf="!blockRecordsSelectedUser"> Показать дни записи... </strong>
        <strong class="btnShowDayRec" *ngIf="blockRecordsSelectedUser"> Скрыть дни записи... </strong>
      </div>
    </div>
  </div>
</div>


<ng-container *ngIf="!hideBtnForCurrentAdmin">
  <div class="selectedUserClass" *ngIf="blockRecordsSelectedUser">
    <div class="recordDaysClass">
      <div class="personalDataTitle">
        <strong>
          Дни когда пользователь записан
          <span style="color: #5238fd">
           в {{dateService.date.value.format('M') | translateMonth}}
         </span>
        </strong>
        <button class="btnAllDayRecBlockClose" (click)="showOrHideDaysRec()">&times;</button>
        <button class="btnCancelAllRecSelectedUs" disabled> отменить все записи !</button>
        <div class="dataRecordsBlockSelectedUser" >
          <div class="dataRecordsSelectedUser">
            <div class="strSRecordsSelectedUser" *ngFor="let entry of dateService.allEntrySelectedUserInSelectMonth | async">
            <span class="strRecordsSelectedUser">
              дата: {{entry.date}}
            </span>
              <span class="strRecordsSelectedUser">
              время: {{entry.time}}:00
            </span>
              <button class="strRecordsSelectedUser"
                      (click)="deleteSelectedRecSelectedUser(entry)"
                      [disabled]="blockRepeat ||
                    entry.date.substring(3,5) < currentDate.substring(3,5) ||
                    entry.date.substring(0,2) < currentDate.substring(0,2)  &&
                    entry.date.substring(3,5) === currentDate.substring(3,5) ||
                    entry.time < currentHour && entry.date === currentDate                      "
              >
                &times;
              </button>
            </div>
          </div>
        </div>
      </div>


      <ng-template #notContentBlock>
        <span class="notContentClass">в {{dateService.date.value.format('M') | translateMonth}} записей нет!</span>
      </ng-template>

    </div>
  </div>
</ng-container>

