.selectedUserClass {
  background: #f8eeee;
}
.coverPersonalData {
  width: 500px;
}

.strRecordsSelectedUser {
  margin: 5px;
}

.dataRecordsBlockSelectedUser {
  margin: 10px;
}

.recordDaysClass {
  position: relative;
  width: 500px;
  max-height: 300px;
  overflow: auto;
}

.btnShowDayRec {
  border-radius: 5px;
  cursor: pointer;
  color: #5238fd;
}

.btnShowDayRec:hover {
  background: #03f303;
}

.btnCancelAllRecSelectedUs {
  margin: 10px;
}

.selectedUserClass {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

span{
  margin-left: 3px;
}

.personalDataTitle{
  text-align: center;
  margin: 5px 30px 20px 30px;
}

.btnClosePersonalData{
  position: absolute;
  right: 3px;
  top: 3px;
  border: none 1px #f6dbff;
  cursor: pointer;
  background: none;
}

.btnAllDayRecBlockClose {
  position: absolute;
  right: 3px;
  top: 3px;
  border: none 1px #f6dbff;
  cursor: pointer;
  background: none;
}

.btnChangeRoleClass {
  margin-left: 15px;
  border-radius: 5px;
}
