<div class="selectedUserClass">
  <div>
    <div class="personalDataTitle">
      <strong> Данные о пользователе </strong>
      <button class="btnClosePersonalData" >&times;</button>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Имя: </strong>
      </div>
      <span> {{nameUser}}</span>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Роль: </strong>
      </div>
      <span> {{roleUser}} </span>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Остаток: </strong>
      </div>
      <span> {{remainingFunds}} </span>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Сделать пользователя: </strong>
      </div>
      <button>админом/пользователем</button>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Добавить: </strong>
      </div>
      <button>Абонемент</button>
    </div>
  </div>
</div>
