<div class="selectedUserClass">
  <div>
    <div class="personalDataTitle">
      <strong> Данные о пользователе </strong>
      <button class="btnClosePersonalData">&times;</button>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Имя: </strong>
      </div>
      <span> {{nameUser}}</span>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Роль: </strong>
      </div>
      <span> {{roleUser}}  {{sectionOrOrganization}} </span>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Остаток: </strong>
      </div>
      <span> {{remainingFunds}} </span>
    </div>
    <div class="selectedUserClass" *ngIf="!showBtnAdminAndUser">
      <div>
        <strong> Назначить: </strong>
      </div>
      <button class="btnChangeRoleClass" (click)="changeRole()"
      >
        <span *ngIf="showBtnUser" >Пользователем</span>
        <span *ngIf="showBtnAdmin">Администратором</span>
      </button>
    </div>
    <div class="selectedUserClass">
      <div>
        <strong> Добавить: </strong>
      </div>
      <button>Абонемент</button>
    </div>
  </div>
</div>
