.personalDataClass {
}


.coverBtnSettingsRec {
  display: flex;
  justify-content: center;
}


.futSettingSimpleUserClass {
}


input {
  margin: 5px;
}

label {
  margin: 5px;
}


.btnSetClass {
  display: flex;
  justify-content: space-between;
}
