strong {
  margin: 10px;
  border-bottom: solid 1px red;
  padding: 3px;

}

.currentHours {
  margin-top: 20px;
  width: 180px;
}

.sectionClass {
  border: solid 1px red;
  border-radius: 10px;
  width: 200px;
}

.selectedDate {
  color: blue;
  max-width: 100px;
  margin-left: 45px;
  padding-top: 5px;
}

.currentHour {
  margin-top: 5px;
  margin-left: 50px;
  width: 80px;
  text-align: center;
  background: #aefaae;
  border-radius: 10px;
}

.dataList {
  width: 180px;
  margin: 5px;
}

.futFormBtn {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.btnDisable:disabled {
  color: red
}

.btnDelete {
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.inline {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.currentPersonClass {
  color: #2630f1;
  font-weight: bold;
}
