<ng-container *ngIf="showSelectedOrg; else showSelectedOrgBlock">
  <div class="selectOrgToDisplayClass">
    <div class="choiceTitleSelectOrg">
      <strong> Выбрать организацию </strong>
    </div>

    <div class="searchOrg">
      <input type="text"  #inputSearchOrg
             placeholder="поиск организации" [(ngModel)]="searchOrgForRec">
    </div>
    <div class="listOrg"
         *ngIf="dateService.allOrganization | async as allOrgForWork">
      <div class="org-sClass"
           *ngFor="let org of allOrgForWork | filterOrg: searchOrgForRec; index as i">
         <span class="ownOrgClass" (click)="choiceOrgForRec(org)">
          {{org}}
         </span>
      </div>
    </div>
  </div>
</ng-container>


<ng-template #showSelectedOrgBlock>
  <div class="selectedOrg">
    <div class="titleSelectOrg">
      <strong (click)="changeOrg()">
        {{dateService.currentOrg.value}}
      </strong>
    </div>
  </div>
</ng-template>
